---
import ThemeToggle from "../ThemeToggle.astro";
import Search from "../Search.astro";
import { siteConfig, menuLinks } from "@/site-config";

const url = new URL(Astro.request.url);
---

<header id="main-header" class="group relative mb-20 flex items-center sm:ps-[4.5rem]">
	<div class="flex sm:flex-col">
		<a
			href="/"
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			aria-current={url.pathname === "/" ? "page" : false}
		>
			<!-- <svg
				class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12"
				aria-hidden="true"
				focusable="false"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 272 480"
			>
				<title>Logo</title>
				<path
					d="M181.334 93.333v-40L226.667 80v40l-45.333-26.667ZM136.001 53.333 90.667 26.667v426.666L136.001 480V53.333Z"
					fill="#B04304"></path>
				<path
					d="m136.001 119.944 45.333-26.667 45.333 26.667-45.333 26.667-45.333-26.667ZM90.667 26.667 136.001 0l45.333 26.667-45.333 26.666-45.334-26.666ZM181.334 53.277l45.333-26.666L272 53.277l-45.333 26.667-45.333-26.667ZM0 213.277l45.333-26.667 45.334 26.667-45.334 26.667L0 213.277ZM136 239.944l-45.333-26.667v53.333L136 239.944Z"
					fill="#FF5D01"></path>
				<path
					d="m136 53.333 45.333-26.666v120L226.667 120V80L272 53.333V160l-90.667 53.333v240L136 480V306.667L45.334 360V240l45.333-26.667v53.334L136 240V53.333Z"
					fill="#53C68C"></path>
				<path d="M45.334 240 0 213.334v120L45.334 360V240Z" fill="#B04304"></path>
			</svg> -->

			<svg 
				class="me-3 h-10 w-6 sm:absolute sm:start-[-5rem] sm:me-0 sm:h-16 sm:w-16"
				xmlns="http://www.w3.org/2000/svg" 
				width="64"
				height="64"
				viewBox="0 0 64 64"
			>
				<g fill="currentColor" fill-rule="evenodd">
					<path 
						d="M61.984 22.992c-.036-.425-.246-.844-.65-1.17L39.836 4.536C39.392 4.181 38.81 4 38.228 4s-1.163.181-1.606.536L2.665 31.84c-.445.358-.667.828-.665 1.298v7.946h.023c.053.398.26.786.642 1.094l21.499 17.286c.887.715 2.326.715 3.215 0l33.955-27.302c.42-.338.635-.775.656-1.219h.009l.001-.074v-7.877zM37.874 6.095a.61.61 0 0 1 .354-.094c.165 0 .298.048.355.094l21.166 17.021L26.128 50.15a.622.622 0 0 1-.357.095a.62.62 0 0 1-.354-.093L4.25 33.132z"
						class="text-accent-2"/>
					<path 
						d="M32.127 29.855c1.436 1.162 3.287 2.334 3.287 3.457c3.757-2.023 7.638-1.074 11.502-.529c2.379-3.836-2.585-8.006-6.176-9.854c1.646-2.39 3.477-.404 5.139-2.388c.011-1.965.524-3.917-.248-5.904c-1.375.513-2.811-.395-4.195-.111c-1.966 2.473-1.355 5.015-4.926 7.446c-2.326-1.368-4.613-1.77-6.94-3.136c-1.154-1.437.768-2.787-1.226-4.246c-6.119 3.345.702 7.039-3.229 10.44c1.463 1.577 2.826.807 4.301 2.645c-1.934 4.299-12.314 8.371-12.561 12.715c6.352-.928 9.209-8.54 15.272-10.535m5.538-5.325c1.782.647 5.145 1.448 5.386 3.515c-3.251 1.586-6.54 2.262-9.946.152zm-7.483-3.573c1.246.551 2.512 1.603 3.725 1.365c1.573 1.448-1.606 2.764-2.971 4.131c-2.874-1.902-1.582-3.693-.754-5.496"
						class="text-accent"/>
				</g>
			</svg>
		</a>
		<span class="text-xl font-bold sm:text-2xl">{siteConfig.title}</span>
		<nav
			id="navigation-menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			aria-label="Main menu"
		>
			{
				menuLinks.map((link) => (
					<a
						href={link.path}
						class="px-4 py-4 sm:py-0 sm:hover:underline"
						aria-current={url.pathname === link.path ? "page" : false}
						data-astro-prefetch
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			id="toggle-navigation-menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			type="button"
			aria-label="Open main menu"
			aria-expanded="false"
			aria-haspopup="menu"
		>
			<svg
				id="line-svg"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				aria-hidden="true"
				focusable="false"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
			>
				<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"
				></path>
			</svg>
			<svg
				id="cross-svg"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				aria-hidden="true"
				focusable="false"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
			>
				<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils";

	class MobileNavBtn extends HTMLElement {
		private headerEl: HTMLElement;
		private mobileButtonEl: HTMLButtonElement;
		private menuOpen: boolean;

		constructor() {
			super();
			this.headerEl = document.getElementById("main-header")!;
			this.mobileButtonEl = this.querySelector("button") as HTMLButtonElement;
			this.menuOpen = false;

			this.mobileButtonEl.addEventListener("click", this.toggleMobileMenu);
		}

		toggleMobileMenu = () => {
			toggleClass(this.headerEl, "menu-open");
			this.menuOpen = !this.menuOpen;
			this.mobileButtonEl.setAttribute("aria-expanded", this.menuOpen.toString());
		};
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
