---
// import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
// import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "Page not found.",
	description: "Sorry, the page cannot be found.",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | Something went wrong</h1>
	<p class="mb-8">Sorry, the page you are looking for cannot be found.</p>
	<!-- <div class="my-4 grid justify-center">
		<Image
			class="rotate-180"
			src={aboutImg}
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			loading="eager"
		/>
	</div> -->
</PageLayout>
