---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 5;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hey! 👋</h1>
		<p class="mb-4">
			I'm Nathan, a data scientist and software developer with a desire to learn deeply and create tools to
			empower others. I'm interested in learning about distributed systems, machine learning devops, and software design.
		</p>
		
		<p class="mb-4">
			I'm currently looking for new opportunities. Please reach out if you'd like to connect or collaborate!
		</p>

		<SocialList />
	</section>

	{/* Latest Posts Section */}
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Latest Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
